.log{
height: 350px;
width: 410px;
border-radius: 8px;
background-color: white;


}

#mainbody{

    padding-left: 400px;
    padding-top: 150px;
    padding-bottom: 128px;
    background-color: aliceblue;
}
#user{

    margin-left: 20px;
    border-radius: 5px;
    border-color: rgba(133, 135, 138, 0.644);
    box-shadow:none;
    width: 360px;
    height: 30px;
}
#pass{
    margin-left: 20px;
    border-radius: 5px;
    border-color: rgba(129, 133, 136, 0.644);
    width: 360px;
    height: 30px;
}
#btn{
    margin-left: 25px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    width: 360px;
    height: 35px;
    background-color: rgb(39, 39, 230);
}
h2{
    font-size: 45px;
    font-style:initial;
    color: rgb(39, 39, 230);
    margin-left: 125px;
}